body {
 width: 90%;
 margin: auto;
 /* background: linear-gradient(270deg, #5ed1d7, #02f2ff, #00ffe5, #0dffeb, #00f8db); */
}

/* Style the canvas elements (pie charts) */
canvas {
 width: 40% !important;
 /* Set width to 100% of the container */
 height: 20% !important;
 /* Set height to 300px */
 margin-bottom: 30px;
 /* Add some space between charts */
}

/* Style the charts container */
#chartsContainer {
 margin-top: 5%;
 margin-bottom: 5%;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 justify-content: space-around;
 border-radius: 10%;
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
 /* background-color: rgb(255, 255, 255); */
 border: 2px solid gray;
 border-block-color: #03fbff;


}

/* Optional: Style the search input and button */
label,
input {
 border: 5px solid gray;
 border-block-color: #03fbff;
 margin: 10px;
 text-align: center;
 font-size: 16px;
 color: black;
}

input:hover {
 border: 5px solid gray;
 border-block-color: #03fbff;
 margin: 10px;
 text-align: center;
 font-size: 16px;
 background-color: #03fbff;
 z-index: 2;
}

/*table style */

table {
 border: 2px solid gray;
 border-block-color: #03fbff;
 width: 90%;
 margin: auto;
 border-collapse: collapse;
 margin-top: 20px;
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

body {
 width: 90%;
 margin: auto;

}

th,
td {

 padding: 8px;
 text-align: center;
 border:1px solid black;
}

th {
 background-color: #f2f2f2;
}


.btn-item {
 color: rgb(0, 0, 0);
 width: fit-content;
 border: 2px solid black;
 /* border-block-color: gray; */
 border-radius: 5%;
}

.btn-item :hover {
 color: rgb(0, 0, 0);
 width: fit-content;
 border: 2px solid black;
 /* border-block-color: gray; */
 border-radius: 5%;
}

.dropdown-menu {
 /* background: linear-gradient(270deg, #02f2ff, #02f2ff, #02f2ff, #02f2ff, #02f2ff); */
 color: #fff;
 padding: 1em;
 border: 1px solid black;
 border-radius: 5%;

}

.dropdown-menu:hover {
 color: linear-gradient(to bottom, rgb(234, 235, 243), rgb(0, 0, 0));
 width: fit-content;
 padding: 1%;
 border: 1px solid black;
 border-radius: 5%;
}

.btn{
 border: 1px solid black;
}
.btn:hover{
 border: 1px solid black;
 transform: translate(0, 5px);
 transition: all 0.2s;
 /* background-color: gray; */
}

/*navbar end */