.card-title, .card-text{
 text-align: center;
 color: black;

}
.card{
 border: 1px solid black;
 padding: 2%;
 margin: 2%;
 
 
}
.image-crop {
    width: 960px; /* Desired width */
    height: 960px; /* Desired height */
    object-fit: cover; /* Ensures the image covers the area */
    border-radius: 50%; /* Optional: make it circular */
  }
  