body {
 font-family: Arial, sans-serif;
 text-align: center;
 margin: auto;
 width: 90%;
 padding: auto;

}

body {
 width: 90%;
 margin: auto;
 /* margin-top:1%; */
 text-align: center;
 /* background: linear-gradient(270deg, #5ed1d7, #02f2ff, #00ffe5, #0dffeb, #00f8db); */
}

table {
 /* border: 5px solid gray;
 border-block-color: #03fbff; */
 width: 90%;
 margin: auto;
 border-collapse: collapse;
 margin-top: 20px;
 margin-bottom: 2%;
 border-radius: 40%;
}


th,
td {
 /* background: linear-gradient(270deg, #5ed1d7, #02f2ff, #00ffe5, #0dffeb, #00f8db); */
 border: 1px solid gray;
 box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
 padding: 8px;
 text-align: center;
}

th,
td {
 padding: 10px;
 text-align: center;
 text-wrap: wrap;
}

th {
 background-color: #ffffff;
 font-weight: bold;
}

tr:nth-child(even) {
 background-color: #f9f9f9;
}

tr:hover {
 background-color: #c6c6c6;
}

a {
 color: #007bff;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

form {
 max-width: 600px;
 margin: 20px auto;
 padding: 20px;
 background-color: #ffffff;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

label {
 display: block;
 margin-bottom: 8px;
 font-weight: bold;
 color: #555;
 text-align: center;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
 width: 100%;
 padding: 10px;
 margin-bottom: 15px;
 border: 1px solid #ccc;
 border-radius: 5px;
 box-sizing: border-box;
 font-size: 14px;
 text-align: center;
}

textarea {
 resize: vertical;
}

button[type="submit"] {
 width: 100%;
 padding: 10px;
 background-color: #28a745;
 color: white;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 cursor: pointer;
 transition: background-color 0.3s;
}

button[type="submit"]:hover {
 background-color: #218838;
}